*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


header{
    margin: 2% 0 2% 3%;
    background-color: white;

}
#titolo{
    display: inline;
}

main{
    background-color: #F6F8F9;
    height: 100vh;
    padding: 5%;
}

hr{
    border: 1px solid #F6F8F9;
}

.corpo{
    background-color: rgb(255, 255, 255);
    height: 80vh;
    width: 60%;
    margin: auto;
    border-radius: 20px;
    
}

button{
    padding: 6px;
}

.top{
    padding: 10px;
    padding-left: 30px;
    display: inline-block;
    font-size: small;
    margin: 10px 0 10px 15px;
}

#Section{
    color: lightgrey;
    display: inline;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 5px 8px;
    margin-left: 5px;
}

#Add{
    color: white;
    display: inline;
    background-color: #47ADF2;
    border-radius: 5px;
    padding: 5px 8px;

}

summary{
    font-weight: 600;
    font-size: 20px;
}
