* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    margin: 1% 0 1% 2%;
}

img {
    vertical-align: middle;
}

h1 {
    display: inline-block;
    vertical-align: middle;
}


/* sfondo pagina rosa antico */
main {
    background-color: #F6F8F9;
    height: 100vh;
    padding: 5%;
}

hr {
    border: 1px solid #F6F8F9;
}

/* corpo centrale bianco */
.corpo {
    background-color: rgb(255, 255, 255);
    height: 80vh;
    width: 60%;
    margin: auto;
    border-radius: 20px;

}

/* bottoni corpo centrale alto */
button {
    padding: 6px;
}

.top {
    padding: 10px;
    padding-left: 30px;
    display: inline-block;
    font-size: small;
    margin: 10px 0 10px 15px;
}

/* bottone uno */
#Section {
    color: lightgrey;
    display: inline;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 5px 8px;
    margin-left: 5px;
}

/* bottone due */
#Add {
    color: white;
    display: inline;
    background-color: #47ADF2;
    border-radius: 5px;
    padding: 5px 8px;

}

/* spaziatura corpo centrale */
div.centrale {
    margin-left: 50px;
    margin-top: 20px;
}


/* stile  liste a scomparsa */
summary {
    font-weight: 600;
    font-size: 20px;
}


.prova {
    font-size: x-small;
    color: white;
    border-radius: 12px;
    padding: 5px 8px;
}

p {
    padding: 10px 0;
    font-size: 16px;
}

/* icona check */
span.check {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 4px;
    font-size: 10px;
    font-weight: 800;
    color: #65C0A9;
    background-color: white;
    border: 1px solid #65C0A9;
    border-radius: 50%;
}

/* icona cross */
span.cross {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 4px;
    font-size: 8px;
    font-weight: 600;
    color: #EB5952;
    background-color: white;
    border: 1px solid #EB5952;
    border-radius: 50%;

}

/* colori classi tasks */
.editorial {
    background-color: #45ABEA;

}

.goals {
    background-color: #9C72E4;

}

.rec {
    background-color: #64C0A9;
}

.mobile {
    background-color: #F29E34;
}

.web {
    background-color: #D863A1;
}

.sales {
    background-color: #B0C926;
}