*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


header{
    margin: 2% 0 2% 3%;
    background-color: white;

}
#titolo{
    display: inline;
}

main{
    background-color: #F6F8F9;
    height: 100vh;
    padding: 5%;
}

hr{
    border: 1px solid #F6F8F9;
}

.corpo{
    background-color: rgb(255, 255, 255);
    height: 80vh;
    width: 60%;
    margin: auto;
    border-radius: 20px;
    
}

button{
    padding: 6px;
}

.top{
    padding: 10px;
    padding-left: 30px;
    display: inline-block;
    font-size: small;
    margin: 10px 0 10px 15px;
}

#Section{
    color: lightgrey;
    display: inline;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 5px 8px;
    margin-left: 5px;
}

#Add{
    color: white;
    display: inline;
    background-color: #47ADF2;
    border-radius: 5px;
    padding: 5px 8px;

}

div.centrale{
   margin-left: 50px;
   margin-top: 20px;
}

summary{
    font-weight: 600;
    font-size: 20px;
}


span{
    font-size: x-small;
    color: white;
    background-color: black;
    border-radius: 12px;
    padding: 5px 8px;
}

p{
    padding: 10px 0;
}

/* colori classi tasks */
.editorial{
    background-color: #45ABEA ;
}

.goals{
    background-color: #9C72E4 ;
}

.rec{
    background-color: #64C0A9;
}

.mobile{
    background-color: #F29E34;
}

.web{
    background-color: #D863A1;
}

.sales{
    background-color: #B0C926;
}